body {
    /*background-image: rgb(2,0,36);*/
    background-image: url(bg6.png),linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    background-repeat: no-repeat;
    /*background-color: #001b40;*/
    
    background-position: right bottom;
    background-position-x: 85%;
    background-position-y: 10%;    
}

nav {
    background-image: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    font-size: xx-large;
    width: 100%;
    height: 70px;
    margin-top: 0px;
    padding-top: 0px;
    position: fixed;
    top:0;
}
ul.bar {
    list-style-type: none;
    float: right;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.tutorial1,.tutorial2,.tutorial3,.tutorial4,.tutorial5{
    list-style-type: none;
    float: right;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li {
    float: left;
    display: inline-block;
}

    li a {
        display: block;
        color: white;
        padding: 14px 16px;
        text-decoration: none;
    }
a:link{
    color:white;
}
a:visited{
    color:white;
}
a:hover{
    color:red;
    background-color:dodgerblue;
}
a:active{
    color:yellow;
}
.welcome {
    color: snow;
    margin: 16% 5% 10%;
    width: 40%;
    font-size: 25px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.buttons{
    display: flex;
    flex-direction: column;
}

.btn{
    text-decoration: none;
    text-align: center;
    padding:  15px 32px;
    font-size: 1.25rem;
    position: relative;
    margin: 32px;
    width: 100px;
    color: rgb(224, 222, 63);
}

.btn-1{
    overflow: hidden;
    color:#fff;
    border-radius: 30px;
    box-shadow: 0 0 0 0 rgba(64, 248, 79, 0.5) ,0 0 0 0 rgba(255, 39, 201, 0.5);
    transition: transform 0.3s ease , box-shadow 0.3s ease;
}

.btn-1::after{
    content: "";
    width: 400px;
    height: 400px;
    position: absolute;
    top: -50px;
    left:-100px;
    background-color: #ff3cac;
    background-image: linear-gradient( #27d86c 0%,#26caf8 50%,#c625d0 100%);
    z-index: -1;
    transition: transform 0.5s ease;

}

.btn-1:hover {
    transform: translate(0, -6px);
    box-shadow: 10px -10px 25px 0 rgba(64, 248, 79, 0.5) , -10px 10px 25px 0  rgba(255, 39, 201, 0.5);
}
.btn-1:hover::after{
    transform: rotate(150deg);
}



.tutorial1 {
    text-align: center;
    }
    
    .tutorial1 li {
    display: inline-block;
    }
.tutorial1,.tutorial2,.tutorial3,.tutorial4,.tutorial5{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    padding: 0;
}



.video-background{
    position:relative;
    width: 100%;
    height: 100vh;
    display: flex;
   
}

 video{
   
   display: flex;
    width: 100%;
    bottom: 0;
    z-index: -1;
    border-top: 20px solid red;
}

 
.container{
    position:absolute;
    width: 300px;
    height: 500px;
    margin: auto;
    margin-left: 525px;
    margin-top: 100%;
    border-radius: 25px;
    background-color: rgba(0,0,0,0.1);
    box-shadow: 0 0 17px #fff;
}
.header{
    text-align: center;
    padding-top: 40px;
}
.header h1{
    color: #fff;
    font-size: 45px;
    margin-bottom: 80px;
}
.include{
    text-align: center;
}
.include input,button{
    width: 200px;
    height: 45px;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.1);
    border: none;
    outline: none;
    padding-left: 38px;
    box-sizing: border-box;
    font-size: 15px;
    margin-bottom: 20px;
}
.include button{
    padding-left: 0;
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.1);
    letter-spacing: 1px;
    font-weight: bold;
    margin-bottom: 70px;

}
include button:hover{
    box-shadow: 2px 2px 5px #fff;
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.1);
}
.include span{
    position: relative;
}
.include i{
    position: absolute;
    left: 15px;
    color: #fff;
    font-size: 16px;
    top: 2px;
}
.col{
    color: #fff;

}
html,body{
    margin: 0;
    padding: 0;
}
.dropdown {
    float: left;
  }
  
   .dropbtn { 
    color: white;
    padding: 14px 16px;
    margin: 0;
    font-size: xx-large;
    border:none;
    background-color: transparent;
    font-family:Georgia, 'Times New Roman', Times, serif;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color:dodgerblue;
  }
  
  .dropdown-content {
    display: none;
    background-color: darkblue;
    font-size: xx-large;
  }
  
  .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: dodgerblue;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  html{
    scrollbar-width: normal;
}
html::-webkit-scrollbar{
    width: 1vw;
}
html::-webkit-scrollbar-thumb{
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    border-radius: 10px;
}
html::-webkit-scrollbar-track{
    background-color: rgb(0 212 255);
    border-radius: 1px;
  }
  .dropdown-content::-webkit-scrollbar{
      width: 1vw;
  }
  .dropdown-content::-webkit-scrollbar-thumb{
      background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
      border-radius: 10px;
  }
  .dropdown-content::-webkit-scrollbar-track{
      background-color: darkblue;
      border-radius: 10px;
  }
  